.hidden {
    display: none
}
.deleteButton {
    color: #871818;
}
.form-space {
    margin-top: -10px;
}
.transparentButton {
    background: transparent;
    border: hidden;
}
.modalContainer {
    margin: auto;
    margin-top: 20%;
    width: 50%;
}